<!DOCTYPE html>
<html>

<head>
  <title>Quickjs</title>
  <link rel="icon" href="https://s3-us-west-1.amazonaws.com/quickjs/logo.png">
  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= javascript_include_tag 'application' %>
        <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
  <script type="text/javascript">
    window.youtube = '<%= ENV['YOUTUBE_API_KEY']%>';
  </script>
</head>

<body>
  <%= yield %>
</body>

</html>